<div id="person_form">
  <%= form_with(model: @person) do |form| %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label :age %>
      <%= form.number_field :age %>
    </div>
    <div class="actions">
      <%= form.submit :save, id: :submit_button, disabled: true %>
    </div>
  <% end %>
</div>
